.container {
  background-color: var(--bg-02);
  backdrop-filter: var(--blur);
  box-shadow: var(--shadow-03);
  border-radius: 5px;
  width: 45%;
  height: 100vh;
  padding: 2%;
  height: auto;
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 0 2%;
  color: #333;
  height: auto;
}
