.view {
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.boxTable {
  width: 100%;
  height: 90%;
}

.rowHead,
.rowBody {
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1%;
}

.rowHead {
  font-weight: 700;
}

.linkRow {
  text-decoration: none;
  color: #333;
}
.linkRow:visited {
  color: #333;
}
.rowBody {
  cursor: pointer;
  transition: 0.3s;
}
.rowBody:hover {
  background-color: #39a60011;
}

.colHead,
.colBody {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2%;
  border-radius: 5px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.colHead {
  height: 25px;
  background-color: #39a60033;
}

.colBody {
  border-bottom: 1px solid #39a60033;
  height: 45px;
}
