.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: #fff;
  grid-area: main;
}
.view {
  padding: 1%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  width: 80%;
  /* min-width: 50%; */
}
.header {
  display: flex;
  justify-content: space-between;
  justify-items: stretch;
  align-items: center;
  width: 100%;
}
.labelPlan {
  margin: 2% 0;
  width: 100%;
  text-align: right;
}
.labelPlan > svg {
  margin: 0 0.5% 0 0;
}
.labelPlan > svg path {
  color: var(--primary-color);
}

@media only screen and (max-width: 600px) {
  .header {
    display: block;
    justify-content: flex-start;
  }
  .labelPlan {
    text-align: left;
  }
}
