.container {
  background-color: #39a600;
  color: #fff;
  width: 100%;
  height: 35px;
  border: none;
  font-size: 1rem;
  transition: 0.5s;
  border-radius: 5px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
.container:hover {
  background-color: #39a600cc;
}
