.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
  padding: 5% 0 0 0;
}
.view {
  /* margin: 5% 0 0 0; */
  padding: 1%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
  height: 75vh;
}
.view form {
  width: 100%;
}
