.container {
  background-color: #fff;
  padding: 2% 1%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 15%;
  width: 25%;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px #33333333;
  color: #333;
}
.container > section {
  margin: 5% 0;
}
.contaienr > p {
  color: #666;
}
