.container {
  background-color: #fff;
  border-radius: 5px;
  width: 35%;
  padding: 2%;
  height: auto;
  box-shadow: 1px 1px 10px 1px #33333333;
}
.form {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  gap: 2%;
  color: #666;
  height: auto;
}
.boxLinks {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 5% 0 0 0;
}
