.container {
  background-color: var(--bg-02);
  backdrop-filter: var(--blur);
  box-shadow: var(--shadow-03);
  border-radius: 5px;
  width: 35%;
  padding: 2%;
  height: auto;
}
.form {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  gap: 2%;
  color: #666;
  height: auto;
}
.boxLinks {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 5% 0 0 0;
}
