.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5%;
}
.file {
  background-color: ghostwhite;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 60px;
  width: 100%;
  font-size: 1.125rem;
  border-radius: 5px;
  padding: 0 2%;
  outline: 0;
  transition: 0.2s;
  margin: 1.5% 0 3% 0;
  cursor: pointer;
  padding: 1%;
}
.file::-webkit-file-upload-button {
  background-color: #39a60044;
  border: none;
  height: 100%;
  cursor: pointer;
}
.previewContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1%;
}
.previewImg {
  height: 200px;
  width: 200px;
  margin: 2%;
  border: 1px solid #ccc;
  object-fit: contain;
  border-radius: 5%;
}
