.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 8%;
  background-image: url('/imgs/bg-01.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.boxMessage {
  width: 35%;
  color: #fff;
}
