.container {
  background-color: #39a600;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 10px #33333333;
  color: #fff;
  grid-area: footer;
  height: 100%;
}
