.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1% 0;
}
.container label div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}
.container label p {
  font-size: 0.8rem;
  margin-left: 1%;
  font-weight: 500;
}
.invalid {
  color: var(--invalid);
}
.valid > svg {
  color: var(--primary-color);
  font-size: 0.8rem;
}
.boxInput {
  position: relative;
}
.input {
  width: 100%;
  font-size: 1.15rem;
  padding: 1% 2%;
  color: #333;
  border: 1px solid #bbb;
  border-radius: 5px;
  height: 40px;
  outline: 0;
  transition: 0.5s;
}
.input::placeholder {
  color: #666;
  font-size: 0.85rem;
}
.input:focus {
  border: 2px solid var(--primary-color);
}
.input:hover {
  border: 2px solid var(--primary-color);
  box-shadow: 1px 1px 3px 1px var(--color-04);
}
.input[type='number']::-webkit-inner-spin-button,
.input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.input::placeholder {
  color: #33333366;
  font-size: initial;
}
.input + svg {
  color: #333333;
  position: absolute;
  right: 5%;
  cursor: pointer;
}
