.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('/imgs/bg-01.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
