.container {
  background-color: #fff;
  height: auto;
  min-width: 200px;
  width: auto;
  box-shadow: var(--shadow-03);
  backdrop-filter: var(--blur);
  border-radius: 5px;
  top: 80px;
  right: 2%;
  position: fixed;
  padding: 1%;
}
.container ul {
  text-decoration: none;
  list-style: none;
}

.container ul li span {
  padding: 5%;
  color: var(--primary-color);
}
.btnLogout {
  justify-content: flex-start;
}
.btnLogout p {
  text-align: start;
  padding: 0 2%;
  color: var(--invalid);
}
