.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  padding: 0 1%;
}
.container > section {
  margin: 5%;
}
.container > section p {
  text-align: justify;
}
.initial,
.about,
.impact,
.team {
  width: 100%;
  display: flex;
  justify-content: center;
}
.initial {
  align-items: center;
  justify-content: stretch;
  height: 85vh;
  margin: 5% 0 0 0 !important;
  position: relative;
}
.about {
  height: 45vh;
}
.impact {
  height: 60vh;
}
.team {
  height: auto;
}
.boxAbout,
.boxImpact,
.boxTeam {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
}
.boxTeam {
  width: 80% !important;
}
.boxCards {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5%;
  margin: 5% 0;
}
