.container {
  width: 100%;
  outline: 0;
}
.container > label {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 700;
}
.input {
  border: 1px solid #3aa60066;
  height: 35px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
